<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.personalshows</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>

	<key>PlexPluginName</key>
    <string>Personal Shows</string>
    <key>PlexPluginDescription</key>
    <string>Local/filename-first agent for personal TV shows with meta.json support.</string>
    <key>PlexPluginAuthor</key>
    <string>CarsonDDD, and originally suparngp</string>
    <key>PlexPluginVersion</key>
    <string>2025.10.11</string>
    <key>PlexPluginHomepage</key>
    <string>https://github.com/suparngp/plex-personal-shows-agent.bundle</string>
</dict>
</plist>
